In [ ]:
## Leemos las librerias necesarias para poder trabajar

In [2]:
## Leemos las librerias necesarias para poder trabajar
#Importar las librerías necesarias en Python.
import pandas as pd ## Manejo de dataframes o set de datos
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt2 ## Todo lo referente a gráficas y demás.
import matplotlib as plt
import numpy as np ## Todo lo referente a trabajar con vectores y matrices
from scipy import stats ## Herramientas y algoritmos matemáticos para python
import seaborn as sns # Se basa en Matplotlib y la complementa en el tema de graficos y demás.

%matplotlib inline

In [7]:
## Leemos los datos o el dataset a trabajar

In [4]:
# Leemos la data de desarrollo de modeolosclas
confux = pd.read_csv("C:/Users/ASUS/Desktop/Brian/ML_DMC/trabajo final/confus.csv") 
# Leer el dataset en un dataframe usando pandas

In [10]:
confux.head(4)

   Unnamed: 0  clas_Xgb  data.test.Adq_Ahorro
0           1         0                     0
1           2         0                     0
2           3         0                     0
3           4         0                     0

In [12]:
actual = confux["clas_Xgb"]
pred = confux["data.test.Adq_Ahorro"]

In [13]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report

In [15]:
results = confusion_matrix(actual, pred)

In [16]:
accuracy_score(actual, pred)

0.8869047619047619

In [17]:
classification_report(actual, pred)

'              precision    recall  f1-score   support\n\n           0       0.94      0.93      0.94       607\n           1       0.42      0.46      0.44        65\n\n   micro avg       0.89      0.89      0.89       672\n   macro avg       0.68      0.70      0.69       672\nweighted avg       0.89      0.89      0.89       672\n'

In [19]:
confusion_matrix = pd.crosstab(actual, pred, rownames=['Actual'], colnames=['Predicted'])
confusion_matrix

Predicted    0   1
Actual
0          566  41
1           35  30

In [99]:
# Leemos la data de desarrollo de modeolosclas
datos = pd.read_csv("C:/Users/ASUS/Desktop/Brian/ML_DMC/trabajo final/AdquisicionAhorro.csv") 
# Leer el dataset en un dataframe usando pandas

In [60]:
datos.head(3)

,coddoc,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo,Adq_Ahorro
0,CODDOC0001,30,married,primaria,no,1787,no,no,19,79,1,-1,0,0
1,CODDOC0002,33,married,secundaria,no,4789,si,si,11,220,1,339,4,0
2,CODDOC0003,35,single,terciario,no,1350,si,no,16,185,1,330,1,0

In [61]:
# Dimension
datos.shape # 2240 filas, 14 features

(2240, 14)

In [62]:
#Leer los primeros registros.
# Podemos ver la estructura de los datos, es el str de Python
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 14 columns):
coddoc        2240 non-null object
edad          2240 non-null int64
estciv        2240 non-null object
educacion     2240 non-null object
mora          2240 non-null object
balance       2240 non-null int64
vivienda      2240 non-null object
prestamo      2240 non-null object
dia           2240 non-null int64
duracion      2240 non-null int64
campana       2240 non-null int64
pdias         2240 non-null int64
previo        2240 non-null int64
Adq_Ahorro    2240 non-null int64
dtypes: int64(8), object(6)
memory usage: 245.1+ KB

In [ ]:
# tenemos todos los datos completos (2240 -2240 = 0)

In [63]:
# Revisar los valores perdidos
datos.isnull().sum()

coddoc        0
edad          0
estciv        0
educacion     0
mora          0
balance       0
vivienda      0
prestamo      0
dia           0
duracion      0
campana       0
pdias         0
previo        0
Adq_Ahorro    0
dtype: int64

In [64]:
datos.head(5)

,coddoc,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo,Adq_Ahorro
0,CODDOC0001,30,married,primaria,no,1787,no,no,19,79,1,-1,0,0
1,CODDOC0002,33,married,secundaria,no,4789,si,si,11,220,1,339,4,0
2,CODDOC0003,35,single,terciario,no,1350,si,no,16,185,1,330,1,0
3,CODDOC0004,30,married,terciario,no,1476,si,si,3,199,4,-1,0,0
4,CODDOC0006,35,single,terciario,no,747,no,no,23,141,2,176,3,0

In [65]:
# Quitamos el ID
datos= datos.drop('coddoc',axis=1)  # ya no existe lsa columna loan_ID pq dejo de ser relevante

In [66]:
datos.shape

(2240, 13)

In [69]:
########################################
# Label encoder de Variables
########################################

In [81]:
import matplotlib.pyplot as plt
from sklearn import metrics

In [82]:
# No olvidemos separar las variables cualitativas para poder trabajarlas eficientemente
columnas_categoricas = ["estciv","educacion","mora","vivienda","prestamo"]

In [83]:
# Separamos las columnas numericas
columnas_numericas = ["edad","balance","dia","duracion","campana","pdias","previo","Adq_Ahorro"]# Preprocesamiento con LabelEncoder

from sklearn.preprocessing import LabelEncoder
for c in columnas_categoricas:
    print(str(c))
    le = LabelEncoder()
    le.fit(datos[str(c)])
    datos[str(c)]=le.transform(datos[str(c)])

estciv
educacion
mora
vivienda
prestamo

In [84]:
datos.head(5)

,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo,Adq_Ahorro
0,30,1,1,0,1787,0,0,19,79,1,-1,0,0
1,33,1,2,0,4789,1,1,11,220,1,339,4,0
2,35,2,3,0,1350,1,0,16,185,1,330,1,0
3,30,1,3,0,1476,1,1,3,199,4,-1,0,0
4,35,2,3,0,747,0,0,23,141,2,176,3,0

In [ ]:
########################################
# Particion Muestral de los datos
########################################

In [85]:
datos.head(2)  # ya le quitamos el coddoc

,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo,Adq_Ahorro
0,30,1,1,0,1787,0,0,19,79,1,-1,0,0
1,33,1,2,0,4789,1,1,11,220,1,339,4,0

In [86]:
# Creación de la data de train y la data de test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(datos.drop('Adq_Ahorro', axis=1), # (X,y,%test,estratificacion)
                                                    datos['Adq_Ahorro'], 
                                                    test_size=0.30,
                                                    stratify=datos['Adq_Ahorro'],
                                                    random_state=100)

In [ ]:
########################################
# Selección de Variables
########################################

In [87]:
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

In [88]:
# Seleccion por Random Forest
from sklearn.ensemble import RandomForestClassifier # Paso01: Instancio el algoritmo
forest = RandomForestClassifier()                   # Paso02: Configuro el algoritmo
forest.fit(X_train, y_train)                        # Paso03: Ajuste el algoritmo
importances = forest.feature_importances_           # Variables importantes

In [89]:
# Seleccion por Random Forest
TablaImportancia = pd.concat([pd.DataFrame({'Driver':list(X_train.columns)}),
                              pd.DataFrame({'Importancia':list(forest.feature_importances_)})], axis = 1)
ImportanciaVariables = TablaImportancia[['Driver','Importancia']].sort_values('Importancia', ascending = False).reset_index(drop = True)
ImportanciaVariables

       Driver  Importancia
0    duracion     0.295914
1     balance     0.157662
2        edad     0.129783
3         dia     0.124939
4       pdias     0.072736
5     campana     0.062716
6      previo     0.042718
7   educacion     0.036120
8      estciv     0.031599
9    vivienda     0.024385
10   prestamo     0.015612
11       mora     0.005817

In [ ]:
########################################
# Modelamiento de los datos
########################################

In [36]:
## Modelos Boosting : LightGBM ##
! pip install lightgbm

Collecting lightgbm
  Downloading https://files.pythonhosted.org/packages/1f/cb/a8ec24334c35a7d0c87b4e4e056bd2137573c7c1bd81c760b79a2f370254/lightgbm-2.3.1-py2.py3-none-win_amd64.whl (544kB)
Requirement already satisfied: numpy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm) (1.16.2)
Requirement already satisfied: scikit-learn in c:\users\asus\anaconda3\lib\site-packages (from lightgbm) (0.20.3)
Requirement already satisfied: scipy in c:\users\asus\anaconda3\lib\site-packages (from lightgbm) (1.2.1)
Installing collected packages: lightgbm
Successfully installed lightgbm-2.3.1

In [38]:
import lightgbm as lgb

In [90]:
dtrain = lgb.Dataset(X_train, label=y_train)
dtest =  lgb.Dataset(X_test,  label=y_test, reference=dtrain)

#dtest =  lgb.Dataset(pd.DataFrame(X_test),   pd.DataFrame(y_test), reference=dtrain)

In [154]:
params = {
        'task':'train', 
        'is_unbalance': False, 
        'max_dept':3,
        'max_bin': 30,  # max cantidad de cortes de una var. numerica
        'boosting_type': 'gbdt',
        'objective': 'binary',
        #'min_child_weight': 150,
        'metric': 'auc',
        #'min_data_in_leaf': 250,
        'num_leaves': 5,
        'learning_rate': 0.001,
        'feature_fraction': 0.8,
        'bagging_fraction': 0.8,
        'bagging_freq': 4,
        #'min_data_per_group':150 ,
        'verbose': 0,
        'seed ':1234
}

In [155]:
gbm = lgb.train(params,
                dtrain,
                num_boost_round=10000,
                valid_sets=[dtrain,dtest],
                early_stopping_rounds=100)

[1]	training's auc: 0.792119	valid_1's auc: 0.776078
Training until validation scores don't improve for 100 rounds
[2]	training's auc: 0.792119	valid_1's auc: 0.776078
[3]	training's auc: 0.837518	valid_1's auc: 0.814591
[4]	training's auc: 0.837353	valid_1's auc: 0.813936
[5]	training's auc: 0.839811	valid_1's auc: 0.814941
[6]	training's auc: 0.83762	valid_1's auc: 0.812016
[7]	training's auc: 0.839154	valid_1's auc: 0.814089
[8]	training's auc: 0.838652	valid_1's auc: 0.813282
[9]	training's auc: 0.837465	valid_1's auc: 0.813151
[10]	training's auc: 0.849881	valid_1's auc: 0.811274
[11]	training's auc: 0.850004	valid_1's auc: 0.811361
[12]	training's auc: 0.851773	valid_1's auc: 0.81195
[13]	training's auc: 0.850291	valid_1's auc: 0.812474
[14]	training's auc: 0.849431	valid_1's auc: 0.811645
[15]	training's auc: 0.849299	valid_1's auc: 0.81099
[16]	training's auc: 0.848534	valid_1's auc: 0.810204
[17]	training's auc: 0.846646	valid_1's auc: 0.816468
[18]	training's auc: 0.846351	valid_1's auc: 0.814417
[19]	training's auc: 0.846089	valid_1's auc: 0.813478
[20]	training's auc: 0.846204	valid_1's auc: 0.813304
[21]	training's auc: 0.847875	valid_1's auc: 0.817363
[22]	training's auc: 0.848345	valid_1's auc: 0.819109
[23]	training's auc: 0.849365	valid_1's auc: 0.820026
[24]	training's auc: 0.848951	valid_1's auc: 0.819306
[25]	training's auc: 0.84921	valid_1's auc: 0.819328
[26]	training's auc: 0.851492	valid_1's auc: 0.819437
[27]	training's auc: 0.850982	valid_1's auc: 0.818935
[28]	training's auc: 0.851325	valid_1's auc: 0.818957
[29]	training's auc: 0.852659	valid_1's auc: 0.816883
[30]	training's auc: 0.852508	valid_1's auc: 0.817211
[31]	training's auc: 0.852464	valid_1's auc: 0.816861
[32]	training's auc: 0.852408	valid_1's auc: 0.817232
[33]	training's auc: 0.852555	valid_1's auc: 0.817538
[34]	training's auc: 0.852834	valid_1's auc: 0.816687
[35]	training's auc: 0.853978	valid_1's auc: 0.818466
[36]	training's auc: 0.854165	valid_1's auc: 0.818597
[37]	training's auc: 0.854248	valid_1's auc: 0.818815
[38]	training's auc: 0.854276	valid_1's auc: 0.819011
[39]	training's auc: 0.85426	valid_1's auc: 0.818553
[40]	training's auc: 0.854288	valid_1's auc: 0.818727
[41]	training's auc: 0.85432	valid_1's auc: 0.819273
[42]	training's auc: 0.85442	valid_1's auc: 0.819819
[43]	training's auc: 0.854842	valid_1's auc: 0.819535
[44]	training's auc: 0.855531	valid_1's auc: 0.820168
[45]	training's auc: 0.85624	valid_1's auc: 0.82139
[46]	training's auc: 0.855674	valid_1's auc: 0.819579
[47]	training's auc: 0.855483	valid_1's auc: 0.819142
[48]	training's auc: 0.85438	valid_1's auc: 0.818618
[49]	training's auc: 0.855063	valid_1's auc: 0.81923
[50]	training's auc: 0.8558	valid_1's auc: 0.820474
[51]	training's auc: 0.856202	valid_1's auc: 0.8215
[52]	training's auc: 0.854561	valid_1's auc: 0.818727
[53]	training's auc: 0.85472	valid_1's auc: 0.820299
[54]	training's auc: 0.854876	valid_1's auc: 0.821063
[55]	training's auc: 0.854836	valid_1's auc: 0.821456
[56]	training's auc: 0.855111	valid_1's auc: 0.822318
[57]	training's auc: 0.855025	valid_1's auc: 0.822034
[58]	training's auc: 0.856616	valid_1's auc: 0.822023
[59]	training's auc: 0.856501	valid_1's auc: 0.821456
[60]	training's auc: 0.856852	valid_1's auc: 0.820583
[61]	training's auc: 0.85662	valid_1's auc: 0.821107
[62]	training's auc: 0.855995	valid_1's auc: 0.820561
[63]	training's auc: 0.855716	valid_1's auc: 0.820845
[64]	training's auc: 0.855533	valid_1's auc: 0.820997
[65]	training's auc: 0.855816	valid_1's auc: 0.820801
[66]	training's auc: 0.856656	valid_1's auc: 0.820845
[67]	training's auc: 0.856298	valid_1's auc: 0.819491
[68]	training's auc: 0.855485	valid_1's auc: 0.819601
[69]	training's auc: 0.856561	valid_1's auc: 0.823922
[70]	training's auc: 0.85566	valid_1's auc: 0.825974
[71]	training's auc: 0.855631	valid_1's auc: 0.825876
[72]	training's auc: 0.855463	valid_1's auc: 0.826487
[73]	training's auc: 0.855523	valid_1's auc: 0.826465
[74]	training's auc: 0.855722	valid_1's auc: 0.8264
[75]	training's auc: 0.856718	valid_1's auc: 0.826487
[76]	training's auc: 0.856965	valid_1's auc: 0.826291
[77]	training's auc: 0.856658	valid_1's auc: 0.826181
[78]	training's auc: 0.857023	valid_1's auc: 0.825865
[79]	training's auc: 0.857015	valid_1's auc: 0.825494
[80]	training's auc: 0.857067	valid_1's auc: 0.82521
[81]	training's auc: 0.85715	valid_1's auc: 0.826094
[82]	training's auc: 0.857266	valid_1's auc: 0.826574
[83]	training's auc: 0.857963	valid_1's auc: 0.826705
[84]	training's auc: 0.857461	valid_1's auc: 0.826683
[85]	training's auc: 0.857258	valid_1's auc: 0.825985
[86]	training's auc: 0.857098	valid_1's auc: 0.826138
[87]	training's auc: 0.856927	valid_1's auc: 0.825898
[88]	training's auc: 0.856796	valid_1's auc: 0.8264
[89]	training's auc: 0.856871	valid_1's auc: 0.826596
[90]	training's auc: 0.856784	valid_1's auc: 0.826312
[91]	training's auc: 0.856748	valid_1's auc: 0.826509
[92]	training's auc: 0.856776	valid_1's auc: 0.826356
[93]	training's auc: 0.856987	valid_1's auc: 0.826356
[94]	training's auc: 0.856788	valid_1's auc: 0.826552
[95]	training's auc: 0.856911	valid_1's auc: 0.826531
[96]	training's auc: 0.856999	valid_1's auc: 0.827185
[97]	training's auc: 0.857152	valid_1's auc: 0.827753
[98]	training's auc: 0.857359	valid_1's auc: 0.827775
[99]	training's auc: 0.85866	valid_1's auc: 0.828266
[100]	training's auc: 0.858744	valid_1's auc: 0.82844
[101]	training's auc: 0.858752	valid_1's auc: 0.828288
[102]	training's auc: 0.859305	valid_1's auc: 0.828746
[103]	training's auc: 0.859739	valid_1's auc: 0.829161
[104]	training's auc: 0.860058	valid_1's auc: 0.828659
[105]	training's auc: 0.859564	valid_1's auc: 0.82987
[106]	training's auc: 0.859982	valid_1's auc: 0.82987
[107]	training's auc: 0.859632	valid_1's auc: 0.830743
[108]	training's auc: 0.859214	valid_1's auc: 0.830547
[109]	training's auc: 0.859704	valid_1's auc: 0.830918
[110]	training's auc: 0.860154	valid_1's auc: 0.831049
[111]	training's auc: 0.860436	valid_1's auc: 0.830569
[112]	training's auc: 0.860516	valid_1's auc: 0.830438
[113]	training's auc: 0.860393	valid_1's auc: 0.829696
[114]	training's auc: 0.860389	valid_1's auc: 0.83035
[115]	training's auc: 0.86017	valid_1's auc: 0.829652
[116]	training's auc: 0.859827	valid_1's auc: 0.829848
[117]	training's auc: 0.86013	valid_1's auc: 0.829586
[118]	training's auc: 0.860237	valid_1's auc: 0.830176
[119]	training's auc: 0.859955	valid_1's auc: 0.830132
[120]	training's auc: 0.859676	valid_1's auc: 0.83059
[121]	training's auc: 0.859915	valid_1's auc: 0.830612
[122]	training's auc: 0.860281	valid_1's auc: 0.82975
[123]	training's auc: 0.860301	valid_1's auc: 0.829663
[124]	training's auc: 0.860134	valid_1's auc: 0.828964
[125]	training's auc: 0.861857	valid_1's auc: 0.829685
[126]	training's auc: 0.861924	valid_1's auc: 0.829401
[127]	training's auc: 0.8619	valid_1's auc: 0.829357
[128]	training's auc: 0.861697	valid_1's auc: 0.829335
[129]	training's auc: 0.861729	valid_1's auc: 0.829706
[130]	training's auc: 0.861526	valid_1's auc: 0.829073
[131]	training's auc: 0.86143	valid_1's auc: 0.829095
[132]	training's auc: 0.861267	valid_1's auc: 0.829008
[133]	training's auc: 0.861016	valid_1's auc: 0.829314
[134]	training's auc: 0.860681	valid_1's auc: 0.829597
[135]	training's auc: 0.860247	valid_1's auc: 0.829575
[136]	training's auc: 0.860084	valid_1's auc: 0.829401
[137]	training's auc: 0.859933	valid_1's auc: 0.829335
[138]	training's auc: 0.859594	valid_1's auc: 0.829357
[139]	training's auc: 0.859475	valid_1's auc: 0.829314
[140]	training's auc: 0.859502	valid_1's auc: 0.829401
[141]	training's auc: 0.859634	valid_1's auc: 0.829379
[142]	training's auc: 0.859937	valid_1's auc: 0.829619
[143]	training's auc: 0.860199	valid_1's auc: 0.829706
[144]	training's auc: 0.860936	valid_1's auc: 0.8282
[145]	training's auc: 0.861052	valid_1's auc: 0.828375
[146]	training's auc: 0.860924	valid_1's auc: 0.828528
[147]	training's auc: 0.860757	valid_1's auc: 0.82844
[148]	training's auc: 0.860379	valid_1's auc: 0.82844
[149]	training's auc: 0.860148	valid_1's auc: 0.828222
[150]	training's auc: 0.860188	valid_1's auc: 0.828048
[151]	training's auc: 0.860084	valid_1's auc: 0.828004
[152]	training's auc: 0.860084	valid_1's auc: 0.828026
[153]	training's auc: 0.860056	valid_1's auc: 0.827502
[154]	training's auc: 0.860036	valid_1's auc: 0.827546
[155]	training's auc: 0.859972	valid_1's auc: 0.827502
[156]	training's auc: 0.859873	valid_1's auc: 0.827524
[157]	training's auc: 0.859745	valid_1's auc: 0.826847
[158]	training's auc: 0.859813	valid_1's auc: 0.826149
[159]	training's auc: 0.859833	valid_1's auc: 0.826083
[160]	training's auc: 0.859841	valid_1's auc: 0.825145
[161]	training's auc: 0.859654	valid_1's auc: 0.825145
[162]	training's auc: 0.859522	valid_1's auc: 0.824948
[163]	training's auc: 0.859415	valid_1's auc: 0.824905
[164]	training's auc: 0.859283	valid_1's auc: 0.824686
[165]	training's auc: 0.859467	valid_1's auc: 0.824839
[166]	training's auc: 0.859666	valid_1's auc: 0.824839
[167]	training's auc: 0.859801	valid_1's auc: 0.825014
[168]	training's auc: 0.859684	valid_1's auc: 0.825461
[169]	training's auc: 0.859648	valid_1's auc: 0.825199
[170]	training's auc: 0.859588	valid_1's auc: 0.825134
[171]	training's auc: 0.859484	valid_1's auc: 0.825025
[172]	training's auc: 0.860174	valid_1's auc: 0.82581
[173]	training's auc: 0.859962	valid_1's auc: 0.825483
[174]	training's auc: 0.859767	valid_1's auc: 0.825396
[175]	training's auc: 0.859982	valid_1's auc: 0.824937
[176]	training's auc: 0.859712	valid_1's auc: 0.824719
[177]	training's auc: 0.860225	valid_1's auc: 0.825286
[178]	training's auc: 0.86056	valid_1's auc: 0.825963
[179]	training's auc: 0.860747	valid_1's auc: 0.826356
[180]	training's auc: 0.861022	valid_1's auc: 0.826771
[181]	training's auc: 0.860946	valid_1's auc: 0.827033
[182]	training's auc: 0.861062	valid_1's auc: 0.827142
[183]	training's auc: 0.861066	valid_1's auc: 0.827251
[184]	training's auc: 0.861225	valid_1's auc: 0.827426
[185]	training's auc: 0.861649	valid_1's auc: 0.827436
[186]	training's auc: 0.861309	valid_1's auc: 0.8276
[187]	training's auc: 0.861882	valid_1's auc: 0.828299
[188]	training's auc: 0.862341	valid_1's auc: 0.828866
[189]	training's auc: 0.862185	valid_1's auc: 0.828626
[190]	training's auc: 0.862213	valid_1's auc: 0.828604
[191]	training's auc: 0.862277	valid_1's auc: 0.828561
[192]	training's auc: 0.862201	valid_1's auc: 0.828561
[193]	training's auc: 0.862337	valid_1's auc: 0.828517
[194]	training's auc: 0.862285	valid_1's auc: 0.828473
[195]	training's auc: 0.862209	valid_1's auc: 0.828626
[196]	training's auc: 0.862197	valid_1's auc: 0.828626
[197]	training's auc: 0.862022	valid_1's auc: 0.828691
[198]	training's auc: 0.862006	valid_1's auc: 0.828648
[199]	training's auc: 0.861898	valid_1's auc: 0.828342
[200]	training's auc: 0.861655	valid_1's auc: 0.828255
[201]	training's auc: 0.86194	valid_1's auc: 0.828386
[202]	training's auc: 0.862287	valid_1's auc: 0.828659
[203]	training's auc: 0.862852	valid_1's auc: 0.828877
[204]	training's auc: 0.863434	valid_1's auc: 0.82903
[205]	training's auc: 0.863486	valid_1's auc: 0.829117
[206]	training's auc: 0.863625	valid_1's auc: 0.829226
[207]	training's auc: 0.863717	valid_1's auc: 0.829292
[208]	training's auc: 0.863685	valid_1's auc: 0.829292
[209]	training's auc: 0.863713	valid_1's auc: 0.829401
[210]	training's auc: 0.863689	valid_1's auc: 0.829401
Early stopping, best iteration is:
[110]	training's auc: 0.860154	valid_1's auc: 0.831049

In [ ]:
##################################################
## Implementación de Modelos de Machine Learning# 
##################################################

In [156]:
#Leemos el dataset de implementacion, podria ser una informacion a enivar a campanas
implemt = pd.read_csv("C:/Users/ASUS/Desktop/Brian/ML_DMC/trabajo final/AdquisicionAhorroProspectos.csv")

In [ ]:
# Todo lo realizado en el dataset de entrenamiento del modelo lo debemos replicar en el dataset de scoring

In [157]:
implemt.isnull().sum()

coddoc       0
edad         0
estciv       0
educacion    0
mora         0
balance      0
vivienda     0
prestamo     0
dia          0
duracion     0
campana      0
pdias        0
previo       0
dtype: int64

In [ ]:
# hagamos el label encoder del data set que queremos modelar

In [158]:
import matplotlib.pyplot as plt
from sklearn import metrics

In [159]:
from sklearn.preprocessing import LabelEncoder
for c in columnas_categoricas:
    print(str(c))
    le = LabelEncoder()
    le.fit(implemt[str(c)])
    implemt[str(c)]=le.transform(implemt[str(c)])

estciv
educacion
mora
vivienda
prestamo

In [160]:
implemt.head(8)

,coddoc,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo
0,CODDOC0005,59,1,2,0,0,1,0,5,226,1,-1,0
1,CODDOC0007,36,1,3,0,307,1,0,14,341,1,330,2
2,CODDOC0008,39,1,2,0,147,1,0,6,151,2,-1,0
3,CODDOC0012,43,1,2,0,264,1,0,17,113,2,-1,0
4,CODDOC0013,36,1,3,0,1109,0,0,13,328,2,-1,0
5,CODDOC0014,20,2,2,0,502,0,0,30,261,1,-1,0
6,CODDOC0016,40,1,3,0,194,0,1,29,189,2,-1,0
7,CODDOC0017,56,1,2,0,4073,0,0,27,239,5,-1,0

In [161]:
# Quitamos el ID
df_scoring = implemt.drop("coddoc",axis=1)

In [162]:
df_scoring.head(5)

,edad,estciv,educacion,mora,balance,vivienda,prestamo,dia,duracion,campana,pdias,previo
0,59,1,2,0,0,1,0,5,226,1,-1,0
1,36,1,3,0,307,1,0,14,341,1,330,2
2,39,1,2,0,147,1,0,6,151,2,-1,0
3,43,1,2,0,264,1,0,17,113,2,-1,0
4,36,1,3,0,1109,0,0,13,328,2,-1,0

In [163]:
df_scoring.shape

(2281, 12)

In [164]:
# Predecimos con la data nueva
y_scoring = gbm.predict(df_scoring)
y_scoring

array([0.10812544, 0.11830161, 0.10749954, ..., 0.13452024, 0.10807359,
       0.12251944])

In [165]:
# Convertir la probabilidad en clase
for i in range(0,2281):
    if y_scoring[i]>=0.50:
        y_scoring[i]=1
    else:
        y_scoring[i]=0

In [166]:
# Predecimos sobre el set de datos de implementacion con el modelo entrenado
#y_scoring = RegLog.predict(df_scoring) # Predecimos sobre nuevos clientes o clientes sin la variable dependiente VD
# Juntamos el ID con la clase
data = np.hstack((implemt['coddoc'].values.reshape(-1,1), y_scoring.reshape(-1,1)))
# Le asignamos nombres a las columnas
df_submmit = pd.DataFrame(data, columns=['coddoc','Adq_Ahorro'])
# Exportamos la solucion
df_submmit.to_csv('trabajo_final.csv', index=False)